{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="user-data-section d-flex align-items-center justify-content-center flex-column position-relative">
    <div class="form-wrapper position-relative m-auto">
        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        <div class="text-center">
            <h2 class="tx-dark mb-30 lg-mb-10">Sign Up</h2>
            <p class="fs-20 tx-dark">Already have an account? <a href="/accounts/signin">Login Here</a></p>
        </div>

        <form action="{% url 'signup' %}" method="POST" class="user-data-form mt-40 lg-mt-30">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="input-group-meta mb-25">
                        <label>First Name</label>
                        <input name="first_name" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group-meta mb-25">
                        <label>Last Name</label>
                        <input name="last_name" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group-meta mb-25">
                        <label>Email</label>
                        <input name="email" type="email" placeholder="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group-meta mb-25">
                        <label>Password</label>
                        <input name="password" type="password" placeholder="" class="pass_log_id">
                        <span class="placeholder_icon"><span class="passVicon"><img src="images/icon/icon_151.svg" alt=""></span></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group-meta mb-25">
                        <label>Confirm Password</label>
                        <input name="confirm-password" type="password" placeholder="" class="pass_log_id">
                        <span class="placeholder_icon"><span class="passVicon"><img src="images/icon/icon_151.svg" alt=""></span></span>
                    </div>
                </div>
                <!-- <div class="col-12">
                    <div class="agreement-checkbox d-flex justify-content-between align-items-center">
                        <div>
                            <input type="checkbox" id="agree_to_policy">
                            <label for="agree_to_policy">By clicking "SIGN UP" I agree to the Terms and Conditions and Privacy Policy.</label>
                        </div>
                    </div>
                </div> -->
                <div class="col-12">
                    <button class="btn-twentyTwo w-100 fw-500 tran3s text-uppercase mt-30">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
    <img src="images/lazy.svg" data-src="images/assets/ils_11.png" alt="" class="lazy-img illustration-one wow fadeInRight">
    <img src="images/lazy.svg" data-src="images/assets/ils_12.png" alt="" class="lazy-img illustration-two wow fadeInLeft">
</div>

{% endblock %}