{% extends 'base.html' %}
{% load static %}


{% block content %}

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
            <div class="inner-banner-one text-center">
                <div class="container">
                  <h2 class="main-title fw-500 tx-dark"></h2>
                </div>
              </div>
              <!-- /.inner-banner-one -->

              <!--
                          =============================================
                              Feature Section Forty Six
                          ==============================================
                          -->
              <div class=" position-relative">
                <div class="container">
                  <div
                    class=" position-relative pt-80 pb-0 lg-pt-100 md-pb-0"
                  >
                    <div class="quote-wrapper text-center wow fadeInUp"></div>
                    <!-- /.quote-wrapper -->
                    <div class="row">
                      <div class="col-md-10 m-auto">
                        <div class="blog-meta-wrapper pe-xxl-5">
                          <article class="blog-details-content">
                            <h2 class="text-center" style="margin-bottom: 2rem">
                              About Prexlyn Properties
                            </h2>
                            <p>
                              At Prexlyn Properties, we are passionate about connecting you
                              with your dream property and delivering unparalleled service
                              that exceeds your expectations.
                            </p>
                            <p>
                              With our deep industry expertise, extensive network, and
                              innovative strategies, we are your trusted partner in navigating
                              the dynamic real estate market. Our mission is to empower you to
                              make informed decisions, secure the best deals, and achieve your
                              real estate goals.
                            </p>
                            <p>
                              We believe in personalized attention and creating lasting
                              relationships with our valued clients. Our dedicated team of
                              experts is committed to understanding your unique requirements,
                              guiding you through the process, and ensuring your utmost
                              satisfaction.
                            </p>
                            <p>
                              As pioneers of cutting-edge technology, we bring you the finest
                              selection of properties through our exclusive listings. From
                              luxurious apartments to prime land opportunities, we curate a
                              portfolio of exceptional options tailored to your preferences.
                            </p>
                            <p>
                              Take the first step towards your real estate aspirations today.
                              Explore our website, browse our captivating listings, and
                              discover the possibilities that await you. Our experienced
                              agents are ready to assist you in finding your perfect home or
                              investment.
                            </p>
                            <p>
                              Experience the Prexlyn Properties difference. Contact us now to
                              schedule a consultation and unlock the extraordinary
                              opportunities in the Lagos real estate market. Let us turn your
                              dreams into reality. Together, we'll redefine your real estate
                              journey and embark on a path to success.
                            </p>
                          </article>
                          <!-- /.blog-details-content -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.line-bg-wrapper -->
                </div>
                <!-- /.container -->
              </div>
              <!-- /.fancy-feature-fortySix -->

              <!-- team section -->

              <div class="container pt-80 pb-80">
                <h2 class="text-center" style="margin-bottom: 4rem">Our Team</h2>
                <div class="team-members">
                  <div class="first">
                    <img src="{% static 'images/img-prexlyn-pages/moses-headshot.png' %}" alt="">
                    <h4 class="p-block-6">
                      Moses Paul
                    </h4>
                    <p>Chief Executive officer</p>
                  </div>
                  <div class="first">
                    <img src="{% static 'images/img-prexlyn-pages/tessy-headshot.png' %}" alt="">
                    <h4 class="p-block-6">
                      Tessy Onome
                    </h4>
                    <p>Real Estate Agent / Realtor</p>
                  </div>
                </div>
              </div>

              <!--
                          =============================================
                              Feature Section Fifty
                          ==============================================
                          -->
                    <div class="fancy-feature-fifty position-relative mt-120 lg-mt-100">
                      <div class="container">
                        <div class="row">
                          <div class="col-xl-5 col-lg-6 wow fadeInLeft">
                            <div class="title-style-five">
                              <h2 class="title fw-500 tx-dark">Frequently Asked Questions</h2>
                            </div>
                            <!-- /.title-style-five -->
                            <p class="text-lg mt-40 mb-45 lg-mt-20 lg-mb-30">
                              Don’t find your answer here? just send us a message for help
                            </p>
                            <a
                              href="https://api.whatsapp.com/send?phone=2348052380693"
                              class="btn-one fw-500"
                              >Send Your Message</a
                            >
                          </div>

                          <div class="col-xl-7 col-lg-6 ms-auto wow fadeInRight">
                            <div class="accordion accordion-style-seven md-mt-60" id="accordionOne">
                              <div class="accordion-item">
                                <div class="accordion-header" id="headingOne">
                                  <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="false"
                                    aria-controls="collapseOne"
                                  >
                                    How does Prexlyn Properties determine property valuations?
                                  </button>
                                </div>
                                <div
                                  id="collapseOne"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="headingOne"
                                  data-bs-parent="#accordionOne"
                                >
                                  <div class="accordion-body">
                                    <p>
                                      At Prexlyn Properties, we employ a combination of industry
                                      knowledge, market analysis, and property assessment techniques
                                      to determine accurate property valuations. Our team considers
                                      factors such as location, property condition, comparable sales
                                      data, and market trends to provide fair and realistic
                                      valuations for our clients.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <div class="accordion-header" id="headingTwo">
                                  <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                                  >
                                    What areas does Prexlyn Properties serve?
                                  </button>
                                </div>
                                <div
                                  id="collapseTwo"
                                  class="accordion-collapse collapse show"
                                  aria-labelledby="headingTwo"
                                  data-bs-parent="#accordionOne"
                                >
                                  <div class="accordion-body">
                                    <p>
                                      Prexlyn Properties primarily operates in Nigeria, catering to
                                      the diverse real estate needs of clients within the city. Our
                                      extensive network and local expertise allow us to offer
                                      comprehensive services in various neighborhoods and areas
                                      across Nigeria.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <div class="accordion-header" id="headingThree">
                                  <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="true"
                                    aria-controls="collapseThree"
                                  >
                                    How can I get in touch with Prexlyn Properties?
                                  </button>
                                </div>
                                <div
                                  id="collapseThree"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="headingThree"
                                  data-bs-parent="#accordionOne"
                                >
                                  <div class="accordion-body">
                                    <p>
                                      Getting in touch with Prexlyn Properties is easy! You can
                                      reach us through our website's contact form, email,
                                      <a
                                        href="https://api.whatsapp.com/send?phone=2348052380693"
                                        class="text-decoration-underline"
                                        style="color: #ff733b"
                                        >phone or whatsapp</a
                                      >. Our friendly team is always ready to assist you, answer
                                      your questions, and provide the necessary information to meet
                                      your real estate needs.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <div class="accordion-header" id="headingFour">
                                  <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour"
                                  >
                                    Is Prexlyn Properties a licensed real estate company?
                                  </button>
                                </div>
                                <div
                                  id="collapseFour"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="headingFour"
                                  data-bs-parent="#accordionOne"
                                >
                                  <div class="accordion-body">
                                    <p>
                                      Yes, Prexlyn Properties is a fully licensed real estate
                                      company operating in compliance with all applicable
                                      regulations and requirements in Nigeria. We prioritize
                                      professionalism, ethical practices, and client satisfaction,
                                      ensuring a reliable and trustworthy real estate experience.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <div class="accordion-header" id="headingFive">
                                  <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive"
                                    aria-expanded="false"
                                    aria-controls="collapseFive"
                                  >
                                    What sets Prexlyn Properties apart from other real estate
                                    agencies?
                                  </button>
                                </div>
                                <div
                                  id="collapseFive"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="headingFive"
                                  data-bs-parent="#accordionOne"
                                >
                                  <div class="accordion-body">
                                    <p>
                                      Prexlyn Properties stands out through our unwavering
                                      commitment to delivering exceptional service, personalized
                                      attention to clients' needs, extensive market knowledge, and a
                                      strong network of industry professionals. We strive to exceed
                                      expectations, provide innovative solutions, and create lasting
                                      relationships built on trust and integrity.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.container -->
                      <img
                        src="images/lazy.svg"
                        data-src="images/shape/shape_163.svg"
                        alt=""
                        class="lazy-img shapes shape-one"
                      />
                    </div>
                    <!-- /.fancy-feature-fifty -->

{% endblock %}