<div id="listings-container">
    <div class="box">
        <div>Ogunlana Drive</div>
        <span>Address:</span>
        <span>Sqft:</span>
        <span>Bedrooms:</span>
        <span>Garage:</span>
        <span>Bathrooms:</span>
        <hr>
        <span>John Doe</span>
        <span>2 weeks ago</span>
    </div>
    <div class="box">
        <div>Adeola Odeku</div>
        <span>Address:</span>
        <span>Sqft:</span>
        <span>Bedrooms:</span>
        <span>Garage:</span>
        <span>Bathrooms:</span>
        <hr>
        <span>John Doe</span>
        <span>2 weeks ago</span>
    </div>
    <div class="box">
        <div>Ozumba Mbadiwe</div>
        <span>Address:</span>
        <span>Sqft:</span>
        <span>Bedrooms:</span>
        <span>Garage:</span>
        <span>Bathrooms:</span>
        <hr>
        <span>John Doe</span>
        <span>2 weeks ago</span>
    </div>
</div>