<!--
			=============================================
				Portfolio Gallery Four
			==============================================
			-->
			<div class="portfolio-gallery-four pt-30">
				<div class="container">
					<ul class="style-none text-center isotop-menu-wrapper g-control-nav-two">
						<li class="is-checked" data-filter="*">All</li>
						<li data-filter=".marketing">Marketing</li>
						<li data-filter=".application">Application</li>
						<li data-filter=".design">Design</li>
						<li data-filter=".dev">Development</li>
					</ul>

					<div id="isotop-gallery-wrapper" class="grid-3column pt-90 lg-pt-50">
						<div class="grid-sizer"></div>
						<div class="isotop-item application dev">
							<div class="portfolio-block-four mb-50">
								<div class="img-meta position-relative">
									<img src="{% static 'images/gallery/img_18.jpg' %}" alt="" class="w-100">
									<a class="fancybox expend-btn d-flex align-items-center justify-content-center tran3s" data-fancybox="" title="Click for large view" href="images/gallery/img_18.jpg" tabindex="0"><i class="bi bi-plus-lg"></i></a>
								</div>
								<a href="portfolio-details-v1.html" class="title tran3s d-flex flex-column align-items-center">
									<span class="pj-name tran3s fw-500">Minimal Iphone</span>
									<span class="tag">Design</span>
								</a>
							</div> <!-- /.portfolio-block-four -->
						</div> <!-- /.item -->
						<div class="isotop-item design marketing">
							<div class="portfolio-block-four mb-50">
								<div class="img-meta position-relative">
									<img src="{% static 'images/gallery/img_19.jpg' %}" alt="" class="w-100">
									<a class="fancybox expend-btn d-flex align-items-center justify-content-center tran3s" data-fancybox="" title="Click for large view" href="images/gallery/img_19.jpg" tabindex="0"><i class="bi bi-plus-lg"></i></a>
								</div>
								<a href="portfolio-details-v1.html" class="title tran3s d-flex flex-column align-items-center">
									<span class="pj-name tran3s fw-500">Mobile Application</span>
									<span class="tag">App</span>
								</a>
							</div> <!-- /.portfolio-block-four -->
						</div> <!-- /.item -->
						<div class="isotop-item application design marketing">
							<div class="portfolio-block-four mb-50">
								<div class="img-meta position-relative">
									<img src="{% static 'images/gallery/img_20.jpg' %}" alt="" class="w-100">
									<a class="fancybox expend-btn d-flex align-items-center justify-content-center tran3s" data-fancybox="" title="Click for large view" href="images/gallery/img_20.jpg" tabindex="0"><i class="bi bi-plus-lg"></i></a>
								</div>
								<a href="portfolio-details-v1.html" class="title tran3s d-flex flex-column align-items-center">
									<span class="pj-name tran3s fw-500">Ilutsration</span>
									<span class="tag">Design</span>
								</a>
							</div> <!-- /.portfolio-block-four -->
						</div> <!-- /.item -->
						<div class="isotop-item application dev">
							<div class="portfolio-block-four mb-50">
								<div class="img-meta position-relative">
									<img src="{% static 'images/gallery/img_21.jpg' %}" alt="" class="w-100">
									<a class="fancybox expend-btn d-flex align-items-center justify-content-center tran3s" data-fancybox="" title="Click for large view" href="images/gallery/img_21.jpg" tabindex="0"><i class="bi bi-plus-lg"></i></a>
								</div>
								<a href="portfolio-details-v1.html" class="title tran3s d-flex flex-column align-items-center">
									<span class="pj-name tran3s fw-500">Minimal Iphone</span>
									<span class="tag">Design</span>
								</a>
							</div> <!-- /.portfolio-block-four -->
						</div> <!-- /.item -->
						<div class="isotop-item design marketing">
							<div class="portfolio-block-four mb-50">
								<div class="img-meta position-relative">
									<img src="{% static 'images/gallery/img_22.jpg' %}" alt="" class="w-100">
									<a class="fancybox expend-btn d-flex align-items-center justify-content-center tran3s" data-fancybox="" title="Click for large view" href="images/gallery/img_22.jpg" tabindex="0"><i class="bi bi-plus-lg"></i></a>
								</div>
								<a href="portfolio-details-v1.html" class="title tran3s d-flex flex-column align-items-center">
									<span class="pj-name tran3s fw-500">Mobile Application</span>
									<span class="tag">App</span>
								</a>
							</div> <!-- /.portfolio-block-four -->
						</div> <!-- /.item -->
						<div class="isotop-item application design marketing">
							<div class="portfolio-block-four mb-50">
								<div class="img-meta position-relative">
									<img src="{% static 'images/gallery/img_23.jpg' %}" alt="" class="w-100">
									<a class="fancybox expend-btn d-flex align-items-center justify-content-center tran3s" data-fancybox="" title="Click for large view" href="images/gallery/img_23.jpg" tabindex="0"><i class="bi bi-plus-lg"></i></a>
								</div>
								<a href="portfolio-details-v1.html" class="title tran3s d-flex flex-column align-items-center">
									<span class="pj-name tran3s fw-500">Ilutsration</span>
									<span class="tag">Design</span>
								</a>
							</div> <!-- /.portfolio-block-four -->
						</div> <!-- /.item -->
						<div class="isotop-item application dev">
							<div class="portfolio-block-four mb-50">
								<div class="img-meta position-relative">
									<img src="{% static 'images/gallery/img_24.jpg' %}" alt="" class="w-100">
									<a class="fancybox expend-btn d-flex align-items-center justify-content-center tran3s" data-fancybox="" title="Click for large view" href="images/gallery/img_24.jpg" tabindex="0"><i class="bi bi-plus-lg"></i></a>
								</div>
								<a href="portfolio-details-v1.html" class="title tran3s d-flex flex-column align-items-center">
									<span class="pj-name tran3s fw-500">Minimal Iphone</span>
									<span class="tag">Design</span>
								</a>
							</div> <!-- /.portfolio-block-four -->
						</div> <!-- /.item -->
						<div class="isotop-item design marketing">
							<div class="portfolio-block-four mb-50">
								<div class="img-meta position-relative">
									<img src="{% static 'images/gallery/img_25.jpg' %}" alt="" class="w-100">
									<a class="fancybox expend-btn d-flex align-items-center justify-content-center tran3s" data-fancybox="" title="Click for large view" href="images/gallery/img_25.jpg" tabindex="0"><i class="bi bi-plus-lg"></i></a>
								</div>
								<a href="portfolio-details-v1.html" class="title tran3s d-flex flex-column align-items-center">
									<span class="pj-name tran3s fw-500">Mobile Application</span>
									<span class="tag">App</span>
								</a>
							</div> <!-- /.portfolio-block-four -->
						</div> <!-- /.item -->
						<div class="isotop-item application design marketing">
							<div class="portfolio-block-four mb-50">
								<div class="img-meta position-relative">
									<img src="{% static 'images/gallery/img_26.jpg' %}" alt="" class="w-100">
									<a class="fancybox expend-btn d-flex align-items-center justify-content-center tran3s" data-fancybox="" title="Click for large view" href="images/gallery/img_26.jpg" tabindex="0"><i class="bi bi-plus-lg"></i></a>
								</div>
								<a href="portfolio-details-v1.html" class="title tran3s d-flex flex-column align-items-center">
									<span class="pj-name tran3s fw-500">Ilutsration</span>
									<span class="tag">Design</span>
								</a>
							</div> <!-- /.portfolio-block-four -->
						</div> <!-- /.item -->
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.portfolio-gallery-four -->